{:paths ["src" "resources"],
 :deps
 {com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"},
  com.cognitect/transit-cljs {:mvn/version "0.8.256"},
  funcool/cuerdas {:mvn/version "2022.06.13-401"},
  macchiato/fs {:mvn/version "0.2.2"}},
 :aliases
 {:dev
  {:extra-deps
   {org.clojure/clojure {:mvn/version "1.10.1"},
    org.clojure/clojurescript {:mvn/version "1.10.597"}}}}}
